@model dvvWeb.Models.ConfigModel

@{
    ViewBag.Title = "Configuration";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Configuration</h4>
        <hr />
        @Html.ValidationSummary(true)
        

        <div class="form-group">
            @Html.LabelFor(model => model.Servername, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Servername)
                @Html.ValidationMessageFor(model => model.Servername)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DbName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DbName)
                @Html.ValidationMessageFor(model => model.DbName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Preferences.NumberOfPoints, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preferences.NumberOfPoints)
                @Html.ValidationMessageFor(model => model.Preferences.NumberOfPoints)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Preferences.PollingFrequency, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preferences.PollingFrequency)
                @Html.ValidationMessageFor(model => model.Preferences.PollingFrequency)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
